body {
    background-color: #f8efd4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    font-size: 70px;
}

img {
    border-radius: 20px;
    
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    backface-visibility: hidden;

}
  
.container:hover .overlay {
    opacity: 0.4;
}
  
.text {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}